/* VENDORS */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
@import url(../node_modules/swiper/dist/css/swiper.min.css);
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/* Typography */
/* Typo reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* Fonts */
@font-face {
  font-family: 'NB-International';
  src: url("../fonts/nb_international_pro_regular-webfont.eot");
  src: url("../fonts/nb_international_pro_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nb_international_pro_regular-webfont.woff") format("woff"), url("../fonts/nb_international_pro_regular-webfont.ttf") format("truetype"), url("../fonts/nb_international_pro_regular-webfont.svg#nb_international_pro_regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NB-International';
  src: url("../fonts/nb_international_pro_italic-webfont.eot");
  src: url("../fonts/nb_international_pro_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nb_international_pro_italic-webfont.woff") format("woff"), url("../fonts/nb_international_pro_italic-webfont.ttf") format("truetype"), url("../fonts/nb_international_pro_italic-webfont.svg#nb_international_pro_italic-webfont") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'NB-International';
  src: url("../fonts/nb_international_pro_bold-webfont.eot");
  src: url("../fonts/nb_international_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nb_international_pro_bold-webfont.woff") format("woff"), url("../fonts/nb_international_pro_bold-webfont.ttf") format("truetype"), url("../fonts/nb_international_pro_bold-webfont.svg#mnb_international_pro_bold-webfont") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'NB-International';
  src: url("../fonts/nb_international_pro_bold_italic-webfont.eot");
  src: url("../fonts/nb_international_pro_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nb_international_pro_bold_italic-webfont.woff") format("woff"), url("../fonts/nb_international_pro_bold_italic-webfont.ttf") format("truetype"), url("../fonts/nb_international_pro_bold_italic-webfont.svg#mnb_international_pro_bold_italic-webfont") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'NB-International';
  src: url("../fonts/nb_international_pro_light-webfont.eot");
  src: url("../fonts/nb_international_pro_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nb_international_pro_light-webfont.woff") format("woff"), url("../fonts/nb_international_pro_light-webfont.ttf") format("truetype"), url("../fonts/nb_international_pro_light-webfont.svg#nb_international_pro_light-webfont") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'NB-International';
  src: url("../fonts/nb_international_pro_light_italic-webfont.eot");
  src: url("../fonts/nb_international_pro_light_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nb_international_pro_light_italic-webfont.woff") format("woff"), url("../fonts/nb_international_pro_light_italic-webfont.ttf") format("truetype"), url("../fonts/nb_international_pro_light_italic-webfont.svg#nb_international_pro_light_italic-webfont") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'NB-International-Mono';
  src: url("../fonts/nb_international_pro_mono-webfont.eot");
  src: url("../fonts/nb_international_pro_mono-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nb_international_pro_mono-webfont.woff") format("woff"), url("../fonts/nb_international_pro_mono-webfont.ttf") format("truetype"), url("../fonts/nb_international_pro_mono-webfont.svg#nb_international_pro_mono-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Social';
  src: url("../fonts/social.eot");
  src: url("../fonts/social.eot?#iefix") format("embedded-opentype"), url("../fonts/social.woff") format("woff"), url("../fonts/social.ttf") format("truetype"), url("../fonts/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

/* Links */
a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    opacity: 0.6; }
  a.active {
    opacity: 0.6; }

/* Lists */
ul {
  list-style: none; }

ul, li {
  margin: 0;
  padding: 0; }

ul.inline-list {
  overflow: hidden; }
  ul.inline-list li {
    float: left;
    margin-right: 16px;
    font-weight: bold; }

ol {
  padding: 0; }

/* LAYOUT */
.row, section, .page-header .logo, .page-header nav {
  width: 964px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: auto; }

section:last-of-type {
  margin-bottom: 150px; }

/* Utilities */
.main-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: -8px;
  top: 0;
  background-color: #e5e5e5;
  z-index: 900; }
  .main-menu .page-header {
    position: relative; }
    .main-menu .page-header .logo {
      height: 155px; }
    .main-menu .page-header .menu-trigger, .main-menu .page-header .lang-btn {
      margin-left: 828.33333px; }
  .main-menu .newsletter {
    width: 301.33333px;
    margin-left: auto;
    margin-right: auto; }
    .main-menu .newsletter form {
      position: relative;
      margin-bottom: 36px; }
      .main-menu .newsletter form input {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 21px;
        line-height: 36px;
        width: 100%;
        border-bottom: 2px solid black; }
        .main-menu .newsletter form input:focus {
          outline: none; }
        .main-menu .newsletter form input[type=email]::-webkit-input-placeholder {
          color: black;
          font-family: "NB-International", sans-serif;
          font-size: 30px;
          font-weight: bold;
          line-height: 36px; }
        .main-menu .newsletter form input[type=email]:-ms-input-placeholder {
          color: black;
          font-family: "NB-International", sans-serif;
          font-size: 30px;
          font-weight: bold;
          line-height: 36px; }
        .main-menu .newsletter form input[type=email]::-ms-input-placeholder {
          color: black;
          font-family: "NB-International", sans-serif;
          font-size: 30px;
          font-weight: bold;
          line-height: 36px; }
        .main-menu .newsletter form input[type=email]::placeholder {
          color: black;
          font-family: "NB-International", sans-serif;
          font-size: 30px;
          font-weight: bold;
          line-height: 36px; }
        .main-menu .newsletter form input[type=email]:focus::-webkit-input-placeholder {
          color: darkgrey; }
        .main-menu .newsletter form input[type=email]:focus:-ms-input-placeholder {
          color: darkgrey; }
        .main-menu .newsletter form input[type=email]:focus::-ms-input-placeholder {
          color: darkgrey; }
        .main-menu .newsletter form input[type=email]:focus::placeholder {
          color: darkgrey; }
        .main-menu .newsletter form input[type=submit] {
          width: 30px;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer; }
  .main-menu .menu article {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 964px; }
    .main-menu .menu article > * {
      width: 218.5px;
      margin-right: 30px; }
      .main-menu .menu article > *:nth-of-type(1) {
        width: 301.33333px;
        margin-right: 165.66667px; }
      .main-menu .menu article > *:nth-of-type(3n+3) {
        width: 135.66667px;
        margin-right: 0; }
    .main-menu .menu article h3 {
      margin-bottom: 0;
      line-height: 36px; }
    .main-menu .menu article li.mailto h4 {
      font-weight: normal;
      line-height: 36px; }

.page-header {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow: visible; }
  .page-header .logo {
    margin-bottom: 48px; }
    .page-header .logo img#logo-mob {
      display: none; }
    .page-header .logo img.logo-n {
      position: fixed;
      top: 30px; }
  .page-header nav {
    z-index: 100; }
    .page-header nav div.slogan {
      position: relative;
      width: 964px; }
      .page-header nav div.slogan img.tail {
        width: 798.33333px;
        margin-right: 30px; }
      .page-header nav div.slogan .menu-trigger {
        width: 135.66667px;
        text-align: center;
        font-size: 36px;
        line-height: 1; }
        .page-header nav div.slogan .menu-trigger a {
          display: block;
          width: 28px;
          height: 20px;
          background-image: url("../images/mt.svg");
          background-position: top;
          background-repeat: no-repeat;
          margin: 9px auto 0;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden; }
      .page-header nav div.slogan .lang-btn {
        width: 135.66667px;
        margin-top: 12px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.6; }
    .page-header nav ul.menu {
      display: none;
      width: 715.5px;
      margin-left: 180.66667px;
      letter-spacing: 0.01em;
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
      margin-top: 52px; }
      .page-header nav ul.menu li {
        margin-right: 0; }
        .page-header nav ul.menu li::after {
          content: '/'; }
        .page-header nav ul.menu li:hover {
          color: lightgray; }
          .page-header nav ul.menu li:hover ul {
            display: block; }
        .page-header nav ul.menu li a {
          opacity: 1; }
        .page-header nav ul.menu li ul {
          display: none;
          position: absolute;
          left: 0;
          font-size: 24px; }

.section-header h1 {
  text-align: center; }

.section-header nav {
  border-top: solid 3px;
  margin-bottom: 24px; }
  .section-header nav li {
    width: 269.91667px;
    text-align: center; }
    .section-header nav li:first-of-type {
      text-align: left; }
    .section-header nav li:last-of-type {
      width: 99.25px;
      text-align: right;
      margin-right: -30px; }

.section-header h1 {
  text-align: center; }

.section-header nav.kiosk-navigation {
  border-top: solid 3px;
  margin-bottom: 24px; }
  .section-header nav.kiosk-navigation li {
    width: 301.33333px;
    margin-right: 30px;
    text-align: center; }
    .section-header nav.kiosk-navigation li:first-of-type {
      text-align: left; }
    .section-header nav.kiosk-navigation li:last-of-type {
      text-align: right;
      margin-right: -30px; }

.highlight {
  margin-top: 370px;
  margin-bottom: 24px;
  color: #4978d7; }
  .highlight:hover {
    color: black; }
  .highlight article {
    width: 798.33333px;
    margin-left: auto;
    margin-right: auto; }
    .highlight article div {
      margin-bottom: 24px; }
      .highlight article div .subtitle {
        width: 384.16667px;
        margin-right: 30px; }
      .highlight article div .date {
        width: 384.16667px;
        text-align: right; }
    .highlight article h1 {
      font-size: 72px;
      text-align: center; }

.bricks-container-header h1 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 48px; }

.bricks-container {
  overflow: hidden; }
  .bricks-container article {
    margin-left: 0; }
  .bricks-container .brick {
    width: 467px;
    min-height: 560px;
    margin-left: 0;
    margin-bottom: 48px; }
    .bricks-container .brick.education a:hover {
      color: #4978d7; }
    .bricks-container .brick.education .cover-image {
      background-color: #4978d7; }
    .bricks-container .brick.collection a:hover {
      color: #d7cc60; }
    .bricks-container .brick.collection .cover-image {
      background-color: #d7cc60; }
    .bricks-container .brick.blog a:hover {
      color: #1ed875; }
    .bricks-container .brick.blog .cover-image {
      background-color: #1ed875; }
    .bricks-container .brick.exhibitions a:hover {
      color: #9a8fca; }
    .bricks-container .brick.exhibitions .cover-image {
      background-color: #9a8fca; }
    .bricks-container .brick a:hover .cover-image {
      background-blend-mode: normal;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }
    .bricks-container .brick .cover-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      width: 100%;
      height: 312px;
      margin-bottom: 24px; }
    .bricks-container .brick h1 {
      font-size: 36px;
      font-weight: normal; }
    .bricks-container .brick h3 {
      font-size: 21px; }
    .bricks-container .brick p.date {
      font-size: 30px; }
    .bricks-container .brick .category {
      text-transform: uppercase;
      margin-bottom: 0; }
      .bricks-container .brick .category.blog {
        color: #1ed875; }
      .bricks-container .brick .category.education {
        color: #4978d7; }
      .bricks-container .brick .category.collection {
        color: #d7cc60; }
      .bricks-container .brick .category.exhibitions {
        color: #9a8fca; }

.bricks-container article {
  margin-left: 0; }

.bricks-container .collection-brick {
  width: 218.5px;
  margin-bottom: 24px; }
  .bricks-container .collection-brick h1 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 6px; }
  .bricks-container .collection-brick h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1.2; }
  .bricks-container .collection-brick img {
    display: block;
    width: 100%;
    margin-bottom: 12px; }

.bricks-container article {
  margin-left: 0;
  min-height: 280px; }

.bricks-container .kiosk-brick {
  width: 218.5px;
  margin-bottom: 24px; }
  .bricks-container .kiosk-brick h1 {
    font-size: 21px;
    font-weight: bold; }
  .bricks-container .kiosk-brick h2 {
    font-size: 18px;
    font-weight: normal; }
  .bricks-container .kiosk-brick img {
    display: block;
    width: 100%;
    margin-bottom: 12px; }
  .bricks-container .kiosk-brick .price {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0; }
  .bricks-container .kiosk-brick .kiosk-button {
    position: absolute;
    top: 188px;
    right: 0;
    height: 16px; }

.kiosk-button {
  display: none;
  font-size: 14px;
  line-height: 1;
  color: white;
  padding: 0 10px;
  border-radius: 2px;
  background-color: #1ed875;
  border: solid 1px #1ed875; }
  .kiosk-button:hover {
    color: #1ed875;
    background-color: transparent;
    border: solid 1px #1ed875; }

.search-box form {
  width: 632.66667px;
  margin-left: auto;
  margin-right: auto; }
  .search-box form input {
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 100%;
    font-size: 24px;
    line-height: 1.5; }

footer {
  background-color: black;
  color: white;
  padding-top: 24px;
  padding-bottom: 36px; }
  footer section:last-of-type {
    margin-bottom: 0 !important; }
  footer .newsletter {
    margin-bottom: 48px; }
    footer .newsletter form {
      width: 467px;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      position: relative;
      color: white;
      overflow: auto;
      margin-top: 24px;
      margin-bottom: 24px; }
      footer .newsletter form input {
        background-color: black;
        color: white;
        border: 0;
        font-size: 21px;
        line-height: 24px;
        width: 100%;
        border-bottom: 2px solid white; }
        footer .newsletter form input:-webkit-autofill {
          background-color: black !important;
          color: white !important; }
        footer .newsletter form input:-webkit-autofill:focus {
          background-color: black !important;
          color: white !important; }
        footer .newsletter form input:focus {
          outline: none; }
          footer .newsletter form input:focus::-webkit-input-placeholder {
            color: transparent; }
          footer .newsletter form input:focus:-moz-placeholder {
            color: transparent; }
          footer .newsletter form input:focus::-moz-placeholder {
            color: transparent; }
          footer .newsletter form input:focus:-ms-input-placeholder {
            color: transparent; }
        footer .newsletter form input[type="submit"] {
          color: white;
          width: 30px;
          position: absolute;
          top: 0;
          right: 0; }
          footer .newsletter form input[type="submit"]:hover {
            color: #d7cc60; }
      footer .newsletter form input::-webkit-input-placeholder {
        color: white; }
  footer .footer {
    font-size: 12px;
    margin-bottom: 48px; }
    footer .footer .label {
      font-weight: bold; }
    footer .footer .icon {
      float: left;
      margin-right: 30px; }
    footer .footer .issuu a {
      display: block;
      width: 14px;
      height: 16px;
      background-image: url("../images/issuu-logo.png");
      background-repeat: no-repeat;
      background-position: 0 2px;
      background-size: 14px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
    footer .footer > ul {
      width: 301.33333px;
      margin-right: 30px; }
    footer .footer ul:last-of-type {
      margin-right: 0; }
    footer .footer img {
      width: 75%;
      margin-top: 12px; }
  footer .logos {
    font-size: 12px; }
    footer .logos .label {
      font-weight: bold; }
    footer .logos > ul {
      width: 218.5px;
      margin-right: 30px; }
      footer .logos > ul:last-of-type {
        margin-right: 0; }
      footer .logos > ul.mng img {
        width: 95px; }
      footer .logos > ul.mkidn {
        width: 135.66667px; }
      footer .logos > ul.um {
        width: 135.66667px; }
      footer .logos > ul.kd {
        width: 135.66667px; }
    footer .logos img {
      width: 75%;
      margin-top: 12px; }

/* Pages */
.entry {
  margin-top: 380px;
  margin-bottom: 48px; }
  .entry header {
    margin-bottom: 48px; }
    .entry header h2, .entry header h3 {
      margin-bottom: 0; }
  .entry .category {
    margin-bottom: 0;
    text-transform: uppercase; }
    .entry .category.blog {
      color: #1ed875; }
    .entry .category.education {
      color: #4978d7; }
    .entry .category.exhibitions {
      color: #9a8fca; }
    .entry .category.collection {
      color: #d7cc60; }
  .entry .place {
    font-weight: bold;
    font-size: 21px; }
  .entry .gallery {
    width: 467px;
    margin-left: 0;
    margin-bottom: 48px; }
    .entry .gallery img {
      width: 100%;
      margin-bottom: 12px; }
    .entry .gallery .swiper-button-next, .entry .gallery .swiper-button-prev {
      background-image: none;
      top: 10%;
      width: 50%;
      height: 90%; }
    .entry .gallery .swiper-button-next {
      cursor: url("../images/arrow-next.svg") 4 12, auto; }
    .entry .gallery .swiper-button-prev {
      cursor: url("../images/arrow-prev.svg") 0 0, auto; }
    .entry .gallery p {
      color: grey;
      font-size: 14px; }

.partners {
  margin-bottom: 48px; }
  .partners ul li {
    width: 135.66667px;
    height: 100px;
    margin-right: 112.83333px; }
    .partners ul li:nth-of-type(3n+3) {
      margin-right: 0; }
  .partners img {
    width: 100%; }

a:hover {
  color: #d7cc60; }

.artist .dates {
  font-size: 24px; }

.artists .alphabet {
  text-align: center;
  color: #d7cc60;
  letter-spacing: 2.5px;
  margin-bottom: 48px; }
  .artists .alphabet a {
    font-size: 30px; }
    .artists .alphabet a.disabled {
      color: lightgrey; }

.artists .index {
  margin-top: -250px;
  padding-top: 250px;
  margin-bottom: 24px; }
  .artists .index h4 {
    margin-top: 12px;
    margin-bottom: 0; }

.artists .dates {
  font-size: 24px; }

.tag {
  background-color: #d7cc60;
  border-radius: 2px;
  margin-right: 30px;
  padding: 2px 5px; }
  .tag:hover {
    background-color: lightgrey; }
  .tag a:hover {
    color: black;
    opacity: 1; }

.our-tags section:not(.bricks-container) article {
  margin-left: 165.66667px;
  margin-right: 165.66667px;
  width: 632.66667px; }
  .our-tags section:not(.bricks-container) article p {
    line-height: 3; }

.our-tags .tag-header {
  text-align: center; }

section.collection-item header:not(.logo) {
  margin-bottom: 30px; }
  section.collection-item header:not(.logo) h1 {
    font-size: 36px;
    margin-bottom: 12px; }
  section.collection-item header:not(.logo) h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 0; }
    section.collection-item header:not(.logo) h2:last-of-type {
      margin-bottom: 12px; }
  section.collection-item header:not(.logo) p {
    margin-bottom: 0; }
    section.collection-item header:not(.logo) p.tags {
      margin-top: 24px;
      line-height: 2; }
      section.collection-item header:not(.logo) p.tags .tag {
        white-space: nowrap; }
  section.collection-item header:not(.logo) > div {
    width: 467px;
    margin-right: 30px;
    margin-bottom: 24px; }
    section.collection-item header:not(.logo) > div:last-of-type {
      margin-right: 0; }
  section.collection-item header:not(.logo) img {
    width: 100%; }
  section.collection-item header:not(.logo) .gallery-top {
    margin-bottom: 24px; }
  section.collection-item header:not(.logo) .gallery-thumbs .thumbnail {
    width: 135.66667px;
    height: 90px;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 24px;
    cursor: pointer; }
    section.collection-item header:not(.logo) .gallery-thumbs .thumbnail:nth-of-type(3n+3) {
      margin-right: 0; }

.collection-search form {
  width: 632.66667px;
  margin-left: auto;
  margin-right: auto; }
  .collection-search form input {
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 100%;
    font-size: 24px;
    line-height: 1.5; }

a:hover {
  color: #1ed875; }

header {
  margin-bottom: 24px; }

section.kiosk-item header {
  margin-left: 0;
  width: 881.16667px;
  margin-bottom: 30px; }
  section.kiosk-item header h1 {
    font-size: 36px;
    line-height: 1;
    width: 70%;
    margin-bottom: 24px; }
  section.kiosk-item header h2 {
    font-size: 24px;
    margin-bottom: 24px; }
  section.kiosk-item header .kiosk-button {
    display: block;
    float: right;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.2em;
    margin-top: 6px; }
  section.kiosk-item header > div {
    width: 467px;
    margin-right: 30px;
    margin-bottom: 24px; }
    section.kiosk-item header > div:last-of-type {
      width: 384.16667px;
      margin-right: 0; }
  section.kiosk-item header img {
    width: 100%; }
  section.kiosk-item header .gallery-top {
    margin-bottom: 24px; }
  section.kiosk-item header .gallery-thumbs .thumbnail {
    width: 135.66667px;
    height: 90px;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 24px;
    cursor: pointer; }
    section.kiosk-item header .gallery-thumbs .thumbnail:nth-of-type(3n+3) {
      margin-right: 0; }

/*** NOMUS styles ***/
html {
  overflow-y: scroll;
  font-size: 16px;
  line-height: 1.5; }

body {
  font-family: "NB-International", sans-serif;
  position: relative;
  height: auto;
  min-height: 100vh;
  overflow: auto; }

.text-column, .artists .index h4, section article {
  width: 632.66667px;
  margin-left: 248.5px; }

section {
  margin-bottom: 48px; }

h1 {
  font-size: 52px;
  font-weight: normal;
  line-height: 1.2; }

h2 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 12px; }

h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px; }

h4 {
  font-size: 24px;
  font-weight: bold; }

h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px; }

p {
  font-size: 16px;
  margin-bottom: 24px; }

strong, b {
  font-weight: bold; }

em {
  font-style: italic; }

.floater > *, .main-menu .menu article > *, .page-header nav div.slogan > *, .highlight article div > *, footer .footer > *, footer .logos > *, section.collection-item header:not(.logo) > *, section.collection-item header:not(.logo) .gallery-thumbs > *, section.kiosk-item header > *, section.kiosk-item header .gallery-thumbs > * {
  float: left; }

.floater:after, .main-menu .menu article:after, .page-header nav div.slogan:after, .highlight article div:after, footer .footer:after, footer .logos:after, section.collection-item header:not(.logo):after, section.collection-item header:not(.logo) .gallery-thumbs:after, section.kiosk-item header:after, section.kiosk-item header .gallery-thumbs:after {
  clear: left;
  content: "";
  display: table; }

.top-offset {
  margin-top: 380px; }

.icon {
  font-family: 'Social'; }

.stop-scrolling {
  height: 100vh;
  overflow: hidden; }

img {
  vertical-align: bottom; }

/*** MEDIA QUERIES ***/
@media all and (max-width: 1023px) and (min-width: 768px) {
  h1 {
    font-size: 48px; }
  h2 {
    font-size: 31px; }
  h3 {
    font-size: 28px; }
  h4 {
    font-size: 21px; }
  .row, section, .page-header .logo, .page-header nav {
    width: 632.66667px; }
  .text-column, .artists .index h4, section article {
    width: 632.66667px; }
  .main-menu {
    left: 0; }
    .main-menu .menu article {
      width: 632.66667px; }
    .main-menu .newsletter {
      margin-left: 82.83333px;
      float: none !important; }
    .main-menu .news {
      margin-left: 82.83333px;
      margin-right: 82.83333px; }
  .page-header .logo img.logo-n {
    height: 105px; }
  .page-header .logo img.logo-nomus {
    width: 100%; }
  .page-header nav div.slogan {
    width: 632.66667px; }
    .page-header nav div.slogan img.tail {
      width: 549.83333px;
      margin-right: 30px; }
    .page-header nav div.slogan .menu-trigger {
      width: 52.83333px;
      margin-left: 549.83333px; }
      .page-header nav div.slogan .menu-trigger a {
        margin-top: 4px; }
  .highlight {
    margin-top: 300px; }
    .highlight article {
      width: 632.66667px; }
      .highlight article div .subtitle {
        width: 301.33333px; }
      .highlight article div .date {
        width: 301.33333px; }
  .bricks-container .brick {
    width: 301.33333px;
    min-height: 370px; }
    .bricks-container .brick h1 {
      font-size: 24px; }
    .bricks-container .brick h3 {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 0; }
    .bricks-container .brick p.date {
      font-size: 24px; }
  footer .footer > ul {
    width: 135.66667px; }
    footer .footer > ul.office {
      width: 218.5px; }
  footer .logos > ul {
    width: 218.5px; }
    footer .logos > ul.mkidn {
      width: 105px;
      margin-top: 18px; }
    footer .logos > ul.um {
      width: 218.5px; }
  .entry article {
    margin-left: 0; }
  .entry header {
    margin-bottom: 24px; } }

@media all and (max-width: 767px) {
  h1 {
    font-size: 48px; }
  h2 {
    font-size: 31px; }
  h3 {
    font-size: 28px; }
  h4 {
    font-size: 21px; }
  .row, section, .page-header .logo, .page-header nav {
    width: 301.33333px; }
  .text-column, .artists .index h4, section article {
    width: 301.33333px; }
  .main-menu {
    left: 0; }
    .main-menu .page-header {
      margin-bottom: 24px; }
      .main-menu .page-header .logo {
        height: auto; }
        .main-menu .page-header .logo img.logo-n {
          display: block; }
      .main-menu .page-header nav .menu-trigger {
        margin-left: 331.33333px; }
    .main-menu .menu article {
      width: 301.33333px; }
    .main-menu .newsletter {
      margin-left: 0;
      float: none !important; }
    .main-menu .news {
      float: none !important;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 24px; }
  .page-header {
    margin-top: 2px; }
    .page-header .logo {
      width: 100%;
      height: auto; }
      .page-header .logo img.logo-n {
        width: 100%;
        top: 2px;
        display: none; }
      .page-header .logo img#logo-mob {
        display: block; }
      .page-header .logo img.logo-nomus {
        width: 100%; }
    .page-header nav {
      width: 100%; }
      .page-header nav div.slogan {
        width: 100%; }
        .page-header nav div.slogan img.tail {
          width: 80%;
          margin-right: 30px; }
        .page-header nav div.slogan .menu-trigger {
          width: 28px; }
          .page-header nav div.slogan .menu-trigger a {
            background-image: url(../images/mt-mob.svg);
            margin-top: -2px; }
  .highlight {
    display: none; }
  .bricks-container-header {
    margin-top: 180px; }
  .bricks-container .brick {
    width: 301.33333px;
    min-height: initial; }
    .bricks-container .brick h1 {
      font-size: 24px; }
    .bricks-container .brick h3 {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 0; }
    .bricks-container .brick p.date {
      font-size: 24px;
      margin-bottom: 0; }
  footer .footer > ul {
    width: 52.83333px; }
    footer .footer > ul.office {
      width: 135.66667px; }
  footer .logos > ul {
    width: 135.66667px; }
    footer .logos > ul:nth-of-type(2n) {
      margin-right: 0; }
    footer .logos > ul.mkidn {
      width: 135.66667px;
      margin-top: 18px; }
    footer .logos > ul.um {
      margin-top: 18px; }
      footer .logos > ul.um img {
        width: 100%; }
  .entry {
    margin-top: 180px; }
    .entry article {
      margin-left: 0; }
    .entry header {
      margin-bottom: 24px; }
    .entry .gallery img {
      width: 100%; }
  .education .bricks-container-header, .blog .bricks-container-header, .collection .bricks-container-header {
    margin-top: 0; } }

/*# sourceMappingURL=main.css.map */
