/*** MEDIA QUERIES ***/

@media all and (max-width: 1023px) and (min-width: 768px) {

	///// TYPO /////
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 31px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 21px;
	}

	///// LAYOUT /////
	.row {
		width: grid-columns(8);
	}
	.text-column {
		width: grid-columns(8);
	}

	///// PAGE HEADER /////
	.page-header {
		.logo {
			img {
				&.logo-n {
					height: 105px;
				}
				&.logo-nomus {
				width: 100%;
				}
			}
		}
		nav {
			div.slogan {
				width: grid-columns(8);
				img.tail {
					width: grid-columns(7);
					margin-right: $gutter;
				}
				.menu-trigger {
					width: grid-columns(1);
					a {
						margin-top: 4px;
					}
				}
			}
		}
	}

	///// HIGHLIGHT /////
	.highlight {
		margin-top: 300px;
		article {
			width: grid-columns(8);
			div {
				.subtitle {
					width: grid-columns(4);
				}
				.date {
					width: grid-columns(4);
				}
			}
		}
	}

	///// BRIKCS /////
	.bricks-container {
		.brick {
			width: grid-columns(4);
			min-height: 370px;
			h1 {
				font-size: 24px;
			}
			h3 {
				font-size: 16px;
				font-weight: normal;
				margin-bottom: 0;
			}
			p.date {
				font-size: 24px;
			}
		}
	}

	///// FOOTER /////
	footer {
		.footer {
			& > ul {
				width: grid-columns(2);
				&.office {
					width: grid-columns(3);
				}
			}
		}
		.logos {
			& > ul {
				width: grid-columns(3);
				&.mkidn {
					width: 105px;
					margin-top: 18px;
				}
				&.um {
					width: grid-columns(3);
				}
			}
		}
	}

	///// ENTRY /////
	.entry {
		article {
			margin-left: 0;
		}
		header {
			margin-bottom: 24px;
		}
	}
		
	
}


@media all and (max-width: 767px) {}
