//partials

@import 'vendor';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'utilities';
@import 'pages';



/*** NOMUS styles ***/

html {
	overflow-y: scroll;
	font-size: $global-font-size;
	line-height: $global-line-height;
}
body {
	font-family: $font-stack;
	position: relative;
	height: auto;
	min-height: 100vh;
	overflow: auto;

	//margin: 30px; // ? górny margines
}

.text-column {
	width: grid-columns(8);
	margin-left: grid-columns(3) + $gutter;
}

section {
	margin-bottom: $global-margin-bottom*2;
	article {
		@extend .text-column;
	}
}

///// TYPO /////
h1 {
	font-size: 52px;
	font-weight: normal;
	line-height: 1.2;
}

h2 {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 12px;
}

h3 {
	font-size: 30px;
	//line-height: 38px;
	font-weight: bold;
	margin-bottom: 12px;
}

h4 {
	font-size: 24px;
	font-weight: bold;
}

h5 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: $global-margin-bottom;
}

p {
	font-size: 16px;
	margin-bottom: $global-margin-bottom;
}

strong, b {
	font-weight: bold;
}

em {
	font-style: italic;
}


///// UWAGA /////
.floater {
	& > * { float: left; }
	
	&:after {
		clear: left;
		content: "";
		display: table;
	}
}

.top-offset {
	margin-top: 380px;
}

.icon {
	font-family: 'Social';
}

.stop-scrolling {
	height: 100vh;
  overflow: hidden;
}

img {
	vertical-align: bottom;
}

@import 'media-queries';
