///// COLLECTION: ITEM /////

section.collection-item {
	header:not(.logo) {
		@extend .floater;

		margin-bottom: $gutter;

		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 24px;
		}
		p {
			margin-bottom: 0;
			&.tags {
				margin-top: $global-margin-bottom;
			}
		}
		&> div {
			width: grid-columns(6);
			margin-right: $gutter;
			margin-bottom: $global-margin-bottom;

			&:last-of-type {
				margin-right: 0;
			}
		}
		img {
			width: 100%;
		}

		.gallery-top {
			margin-bottom: $global-margin-bottom;
		}

		.gallery-thumbs {
			@extend .floater;
			.thumbnail {
				width: grid-columns(2);
				height: 90px;
				overflow: hidden;
				margin-right: $gutter;
				margin-bottom: $global-margin-bottom;
				cursor: pointer;

				&:nth-of-type(3n+3) {
					margin-right: 0;
				}
			}
		}
	}
}
