///// COLLECTION: OUR TAGS /////
.tag {
	background-color: $yellow;
	border-radius: 2px;
	margin-right: $gutter;
	padding: 2px 5px;

	&:hover {
		background-color: lightgrey;
	}

	a {
		&:hover {
			color: black;
			opacity: 1;
		}	
	}
}

.our-tags {
	section:not(.bricks-container) {
		article {
			margin-left: grid-columns(2) + $gutter;
			margin-right: grid-columns(2) + $gutter;
			width: grid-columns(8);
			p {
				line-height: 3;
			}
		}
	}
	.tag-header {
		text-align: center;
	}
}