///// EDUCATION /////

.entry {
	margin-top: 380px;

	header {
		margin-bottom: 2 * $global-margin-bottom;
	}

	.category {
		margin-bottom: 0;
		color: $blue;
	}
	.gallery {
		margin-bottom: 2 * $global-margin-bottom;

		img {
			width: grid-columns(6);
		}

		p {
			color: grey;
			font-size: 14px;
		}
	}
}

.partners {
	margin-bottom: 2 * $global-margin-bottom;

	ul {
		li {
			width: grid-columns(2);
			margin-right: grid-columns(1) + 2 * $gutter;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	img {
		width: 100%;
	}
}
