///// EDUCATION /////

.entry {
	margin-top: 380px;
	margin-bottom: 2 * $global-margin-bottom; // tymczasowo

	header {
		margin-bottom: 2 * $global-margin-bottom;
		h2, h3 {
			margin-bottom: 0;
		}
	}

	.category {
		margin-bottom: 0;
		text-transform: uppercase;
		&.blog {
			color: $blog-color;
		}
		&.education {
			color: $education-color;
		}
		&.exhibitions {
			color: $exhibitions-color;
		}
		&.collection {
			color: $collection-color;
		}
	}

	.place {
		font-weight: bold;
		font-size: 21px;
	}

	.gallery {
		width: grid-columns(6);
		margin-left: 0;
		margin-bottom: 2 * $global-margin-bottom;

		img {
			width: 100%;
			margin-bottom: 0.5 * $global-margin-bottom;
		}

		.swiper-button-next, .swiper-button-prev {
			background-image: none;
			top: 10%;
			width: 50%;
			height: 90%;
		}
		.swiper-button-next {
			cursor: url('../images/arrow-next.svg') 4 12, auto;
		}
		.swiper-button-prev {
			cursor: url('../images/arrow-prev.svg') 0 0, auto;
		}

		p {
			color: grey;
			font-size: 14px;
		}
	}
}

.partners {
	margin-bottom: 2 * $global-margin-bottom;

	ul {
		li {
			width: grid-columns(2);
			height: 100px;
			margin-right: grid-columns(1) + 2 * $gutter;

			&:nth-of-type(3n+3) {
				margin-right: 0;
			}
		}
	}

	img {
		width: 100%;
	}
}
