///// COLLECTION BRICKS /////
.bricks-container {
	article {
		margin-left: 0;
	}		
	.collection-brick {
		width: grid-columns(3);
		margin-bottom: $global-margin-bottom;
		h1 {
			font-size: 21px;
			font-weight: bold;
			margin-bottom: 6px;
		}
		h2 {
			font-size: 16px;
			font-weight: normal;
			margin-bottom: 0;
			line-height: 1.2;
		}
		img {
			display: block;
			width: 100%;
			margin-bottom: $global-margin-bottom/2;
		}
	}
}