///// FOOTER /////
footer {
	background-color: black;
	color: white;
	padding-top: $global-margin-bottom;
	padding-bottom: 1.5 * $global-margin-bottom;

	section:last-of-type {
		margin-bottom: 0 !important;
	}
	.newsletter {
		margin-bottom: 2 * $global-margin-bottom;

		form {
			width: grid-columns(6);
			margin-left: auto;
			margin-right: auto;
			background-color: black;
			position: relative;
			color: white;
			overflow: auto;

			margin-top: $global-margin-bottom;
			margin-bottom: $global-margin-bottom;

			input {
				background-color: black;
				color: white;
				border: 0;
				font-size: 21px;
				line-height: 24px;
				width: 100%;
				border-bottom: 2px solid white;

				&:-webkit-autofill {
					background-color: black !important;
					color: white !important;
				}
				&:-webkit-autofill:focus {
					background-color: black !important;
					color: white !important;
				}

				&:focus {
					outline: none;
					&::-webkit-input-placeholder {
						color: transparent;
					}
					&:-moz-placeholder {
						color: transparent;
					}
					&::-moz-placeholder {
						color: transparent;
					}
					&:-ms-input-placeholder {
						color: transparent;
					}
				}

				&[type="submit"] {
					color: white;
					width: 30px;
					position: absolute;
					top: 0;
					right: 0;

					&:hover {
						color: $yellow;
					}
				}
			}
			input::-webkit-input-placeholder {
				color: white;
			}
		}
	}

	.footer {
		@extend .floater;
		font-size: 12px;
		margin-bottom: 2 * $global-margin-bottom;

		.label {
			font-weight: bold;
		}

		.icon {
			float: left;
			margin-right: 30px;
		}

		& > ul {
			width: grid-columns(4);
			margin-right: $gutter;

			&.office {
			}
		}
		ul:last-of-type {
			margin-right: 0;
		}

		img {
			width: 75%;
			margin-top: 12px;
		}
	}

	.logos {
		@extend .floater;
		font-size: 12px;

		.label {
			font-weight: bold;
		}

		& > ul {
			width: grid-columns(3);
			margin-right: $gutter;

			&:last-of-type {
				margin-right: 0;
			}

			&.mng {
				img {
					width: 95px;
				}
			}
			&.mkidn {
				width: grid-columns(2);
				img {
				//width: 50%;
				}
			}
			&.um {
				width: grid-columns(2);
			}
			&.kd {
				width: grid-columns(2);
			}
			
		}

		img {
			width: 75%;
			margin-top: 0.5 * $global-margin-bottom;

		}

	}
}
