.main-menu {
	display: none;

	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 350px;
	background-color: white;
	z-index: 90;

	article {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}