/* 8.11.2017, Shin */
/* Wielkość okna 'size-small' */

textarea.size-small .CodeMirror {
  min-height: 100px !important;
}
textarea.size-small .CodeMirror .CodeMirror-scroll {
  min-height: 100px !important;
}

#field-89 input {
  height: auto;
	font-size: 24px;
  font-weight: bold;
  border: none;
}
